.En-tête {
  text-align : center;
}

/*
ul {
  list-style-type:none;
}

li {
  display : inline;
  padding : 0 0.5em;
}
*/

.menu {
  list-style-type:none;
  display : inline;
  padding : 0 0.5em;
  text-align:center;
  padding:5px;
  border:2px solid;
  color:black;
  text-decoration:none;
}
