.En-tête {
  text-align : center;
  border : 2px solid;
}

.menu ul {
  padding : 2px;
 
  list-style-type : none;
  border : 2px solid;
}

.menu li { 
  margin-left: auto;
  margin-right: auto;
  text-align : center;
  float : center;
  display : inline;
}

.menu a {
  color : black;
  text-decoration : none;
}

.sous-titre {
  font-size : 20px;
  font-weight : bold;
  text-decoration: underline;
  text-align : center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
